1. API/SCIT-ERP-API/target/
1. API/SCIT-ERP-API/bin/
1. API/SCIT-ERP-API/.classpath
1. API/SCIT-ERP-API/.project
1. API/SCIT-ERP-API/.settings/
1. API/.metadata/
1. API/RemoteSystemsTempFiles/.project
1. API/Servers/.project
1. API/Servers/.settings/org.eclipse.wst.server.core.prefs
